
/* for mobile */
@media all and (max-width: 768px) {

    header{
        margin-left:15px;
    }

    .inner{
        flex-direction: column;
        /* text-align: left; */
        margin: 20px 0;
    }

    header .inner{
        padding-right: 0;
        padding-left:  0;
    }
    

    .flex{
        justify-content: flex-start;
    }
    
    .logo{
        height:18px;
        font-size:18px;
        font-weight: bold;
    }

    .header-right li{
        font-size:14px;
        margin-right:12px;
        padding-right: 0;
    }


    .top-wrapper{
        margin-bottom: 40px;
    }

    /*
    .contents{
        margin: 0 0 0 0;
        flex-direction: column;
    }
    */

    #contents .inner{
        padding-right:24px;
        padding-left:0;
    }

    .main{
        width: 100%;
        margin:0 auto;
    }

    .heading{
        font-size: 22px;
        font-weight: bold;
        border-bottom: 4px solid #1F91BE;
    }

    .about-wrapper{
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom:60px;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .about{
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .about1{
        width:100%;
    }

    .about2{
        width:100%;
    }

    .about img{
        margin: 0 auto;
        text-align: center;
        /*
        padding-left:20px;
        padding-right: 20px;
        */
    }
    
    .news-wrapper{
        margin-top:60px;
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom:60px;
    }

    .news-wrapper table{
        width: 100%;
        height: auto;
        margin-bottom: 0%;
    }

    .news-wrapper th{
        display: block;
        width: 100%;
        height: auto;
        border-bottom: none;
    }

    .news-wrapper td{
        display: block;
        width: 100%;
        height: auto;
        padding: 20px 0;
        margin-bottom: 20px;
    }

    .news-wrapper a{
        padding:13px 39px;
        float: none;
        margin: 0 auto;
        display: block;
        width: 165px;
        text-align: center;
    }

    .sidebar{
        width:100%;
        /*
        padding-right: 24px;
        padding-left:  24px;
        */
    }

    .picture{
        margin-bottom:20px;
        margin-right:38px;
        margin-left:38px;
        padding-left:24px;
    }

    .category-wrapper{
        margin-top:38px;
        margin-right: 15px;
        margin-left: 16px;
        margin-bottom:60px;
    }

    .category{
        font-size:14px;
    }

    .title{
        font-size: 22px;
        font-weight: bold;
        border-bottom: 4px solid #1F91BE;
    }


}
