@charset "utf-8";

/* Reset css starts from here */

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* Reset css ends here */





* {
    box-sizing: border-box;
  }

body{
    font-family: "游ゴシック体", YuGothic;
}

header{
    position:fixed;
    width: 100%;
    background: #fff;
}


.inner{
    width:1080px;
    max-width:100%;
    height: auto;
    margin: 22px auto;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.logo{
    color: #1F91BE;
    width:104px;
    height:31px;
    font-size:31px;
}

.logo a{
    color: #1F91BE;
    text-decoration: none;
}

.header-right li{
    color: black;
    font-weight:bold;
    margin-right: 34px;
    font-size: 16px;
    padding-top: 9px;
    
}

.top-wrapper{
    padding-top:75px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom:100px;
}

.top-wrapper img{
    width: 100%;
    height:auto;
    margin: 0 auto;
    text-align: center;
}

/*
.contents{
    width:1080px;
    max-width:100%;
    display: flex;
    justify-content: space-between;
    margin: 0 100px 100px 100px;
}
*/

#contents .inner{
    width:1080px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.main{
    width: 65%;
    margin-right: auto;
}

.about-wrapper{
    width: 100%;
    margin-bottom: 40px;
}

.heading{
    font-size: 32px;
    color:#1F91BE;
    text-align: left;
    width: 100%;
    font-weight: bold;
    padding-bottom: 9px;
    border-bottom: 4px solid #1F91BE;
}

.about{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* width: 320px; */
}

/*
.about1{
    padding-right: 60px;
}
*/

.about img{
    padding:30px 0;
    width: 100%;
    height:auto;
}

.about1{
    width:45%;
}

.about2{
    width:45%;
}

.about p{
    line-height:1.6875;
    letter-spacing: 0;
    padding-top: 0;
    margin-top:0;
}

.news-wrapper{
    width: 100%;
}

.news-wrapper table{
    /* width: 700px; */
    height: 190px;
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.news-wrapper th{
    font-size:14px;
    text-align: left;
    vertical-align:middle;
    width: 146px;
    letter-spacing: 0;
    border-bottom: 1px solid black;
}

.news-wrapper td{
    width: 555px;
    font-size:14px;
    line-height: 1.71429;
    letter-spacing: 0;
    text-align: left;
    vertical-align:middle;
    border-bottom: 1px solid black;
    padding-top: 20px;
    padding-bottom:20px;
}

.news-wrapper a{
    color: #1F91BE;
    font-weight: bold;
    padding: 8px 34px;
    border: 2px solid #1F91BE;
    float: right;
}

.sidebar{
    width: 28%;
    display: flex;
    flex-direction: column;
}

.picture{
    list-style: none;
    margin-bottom: 30px;
    margin-right: 24px;
}

.title{
    font-size: 24px;
    color: #1F91BE;
    text-align: left;
    padding-bottom: 9px;
    border-bottom: 4px solid #1F91BE;
    margin-bottom: 29px;
}

.picture img{
    max-width: 100%;
    height:auto;
    margin: 0 auto;
    text-align: center;
}

.category{
    margin-left:20px;
    letter-spacing: 0;
    padding-top: 6px;
    padding-bottom: 6px;
}

footer{
    width:100%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    background-color:#C7C7C7;
    opacity: 1;
}

footer p{
    font-size: 12px;
    color:white;
    padding:19px 0;
}
